# MongoDB Connection String
# Replace this with your actual MongoDB URI.
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-url>/<dbname>?retryWrites=true&w=majority

# Database configuration
DATABASE_NAME=Attendencesystem
COLLECTION_NAME=students

# Face recognition threshold
THRESHOLD=0.6
